* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  height: 100vh;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: clamp(18px, 5vw, 72px);
  color: #fff;
}